@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: url("/bg1.png") no-repeat center center fixed;
	background-size: cover;
	filter: none; /* Ensure no blur effect is applied */
  }
  

/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #141414;
}

::-webkit-scrollbar-thumb {
	background: #3a3939;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

/* SHAKE ANIMATION ON HORIZONTAL DIRECTION */
.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}


@media (min-width: 640px) {
    .mobile-toggle-button {
        display: none;
    }
}
@keyframes typing {
	0% { width: 0; }
	50% { width: 100%; }
	60% { width: 100%; } /* Pause at full text */
	100% { width: 0; } /* Delete text */
  }
  
  @keyframes blink {
	50% { opacity: 0; }
  }
  
  .typing-container {
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(233, 8, 233); /* Change text color to purple */
  }
  
  .typing-text::after {
	content: "Chate Mate"; /* Set text content */
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	border-right: 2px solid rgb(233, 8, 233); /* Change cursor color to purple */
	width: 0;
	animation: typing 6s steps(10, end) infinite;
  }
  
  .cursor {
	animation: blink 0.8s infinite;
	color: rgb(233, 8, 233); /* Blinking cursor color */
  }
  
